.background-light {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
