.background-light {
  background-color: white;
}
.nav-header {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1em;
  margin-left: auto;
}

.nav-header .menu .menu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-right: 1px solid;
}

.nav-header .menu .menu-item:hover {
  background-color: gray;
  transition: all 0.2s ease-out;
}

.shop-logo {
  display: block;
  width: 100px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.contract-info {
  display: flex;
  flex-wrap: wrap;
}

.contract-info .contract-info-item {
  padding-right: 20px;
}

div .list-inline .list-inline-item {
  margin-left: 2rem;
  text-align: center;
}

.figure {
  cursor: pointer;
}

.NavbarItems {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2rem;
  text-align: center;
}

.NavbarItems .shopping-cart-1 {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.menu-icon-top {
  display: none;
}
.header .hide-navbar {
  display: none;
}

.type-item {
  font-size: 14px;
  font-weight: bold;
}

.name-nabar {
  display: none;
}
.NavbarItems-1 {
  display: none;
}
.nav-body {
  padding: 0%;
  z-index: 1;
}
.header {
  margin-bottom: 0%;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
}

.menu-item-link {
  color: white;
}
.menu-item-link:hover {
  color: white;
  text-decoration: none;
}

.title-link {
  color: black;
}
.title-link:hover {
  color: black;
  text-decoration: none;
}

.errMessage {
  color: rgb(255, 66, 78);
  font-size: 14px;
  display: block;
  padding-top: 0;
  margin-top: 0;
}
.successMssg {
  color: #4bb543;
  font-size: 14px;
  display: block;
  padding-top: 0;
  margin-top: 0;
}
.header .resize-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-icon-top {
    display: inline-flex;
    margin-left: auto;
    color: white;
    list-style: none;
  }

  .header .hide-navbar {
    display: flex;
    justify-content: center;
  }
  .header .hide-navbar img {
    width: 100px;
    height: 80px;
    position: relative;
    cursor: pointer;
  }
  .type-img {
    display: none !important;
  }
  .list-inline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  item-menu-cl {
    border-bottom: 1px solid;
  }
  .shop-logo {
    display: none;
  }

  .shop-logo-1 {
    display: flex;
    position: relative;
    width: 100px;
    height: 90px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }

  .contract-info {
    display: flex;
    flex-direction: column;
  }
  .nav-header {
    display: none;
  }
  .type-item {
    color: white;
  }

  .figure:hover {
    background-color: gray;
    width: 100%;
    color: #fff;
    height: 100%;
  }

  .NavbarItems {
    display: none;
  }

  .header .resize-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-left: 20px;
    margin-right: 25px;
    position: relative;
    bottom: 100%;
  }

  .shopping-cart-2 {
    display: block;
    margin-right: 14px;
    margin-top: 3px;
  }
  div .list-inline .list-inline-item {
    margin-left: 5px;
    text-align: left;
    margin-top: 10px;
  }

  .nav-body {
    background-color: black;
  }
  .body-toggler {
    background: white;
  }
  .name-nabar {
    display: block;
    color: #fff;
    margin-right: auto;
  }

  .title-link {
    color: white;
  }
  .title-link:hover {
    color: white;
    text-decoration: none;
  }
}
.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .btnCancel {
  font-weight: 600;
  color: #fff;
  background-color: red;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}

.Register {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
  float: right;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: white;
}
.btn-twitter {
  background-color: #42aeec;
  color: white;
}

/* hover icon */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .cate.dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .cate.dropdown-menu {
    display: block;
  }
  .navbar .nav-item .cate.dropdown-menu {
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
/* hover username */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#00bfff;}
/* hover username */
.link-header{
  color: rgb(51, 47, 47);
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 13px ;
}
