.comment-box {
    color: black;
    background-color: #fff;
    border-radius: 0.875rem;
    padding: 0.2rem 4rem;
  }
.star-user-rating{
  font-size: 30px;
  /* margin-left: 40px; */
  height: 15px;
  margin-left: 50px;
}